<%= form_for(@userlog) do |f| %>
  <% if @userlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userlog.errors.count, "error") %> prohibited this userlog from being saved:</h2>

      <ul>
      <% @userlog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :log_data %><br>
    <%= f.text_field :log_data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
